---
const {content, src} = Astro.props
---

<div class="max-w-70 bg-[#fac72e1f] rounded-3xl p-2 shadow-xl hover:scale-105">
    <img class="rounded-3xl" src={src} alt="">
    <div class="p-10 prose text-center">
        {content}
    </div>
</div>